body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f7ed;
}
body .header {
  margin: 20px 0px;
}
body .header .header-buttons {
  transition: all 100ms ease-in-out;
  color: white;
  background-color: #c9423f;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
body .header .header-buttons:hover {
  background-color: #ba3734;
}
body .header a:hover,
body .header a:focus {
  text-decoration: none;
}
body .header span {
  transition: all 100ms ease-in-out;
  color: white;
  background-color: #c9423f;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
body .header span:hover {
  background-color: #ba3734;
}
body .header span.buttons {
  background-color: rgba(0, 0, 0, 0);
  color: #c9423f;
}
body .header span.buttons.active {
  background-color: #2196F3;
  color: white !important;
}
body .header span.buttons.code,
body .header span.buttons.talks,
body .header span.buttons.resume {
  color: #2196F3;
}
body .header span.buttons.code:hover,
body .header span.buttons.talks:hover,
body .header span.buttons.resume:hover {
  color: white;
  background-color: #2196F3;
}
body .header span.buttons.linkedin,
body .header span.buttons.twitter,
body .header span.buttons.github {
  color: #607D8B;
}
body .header span.buttons.linkedin:hover,
body .header span.buttons.twitter:hover,
body .header span.buttons.github:hover {
  color: white;
  background-color: #607D8B;
}
body .header span.img {
  background-image: url('../media/jeffjose.jpg');
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 1px solid white;
  margin-right: 20px;
}
body .main {
  font-size: 16px;
  color: #444;
  padding-left: 0px;
}
body .main a {
  border-bottom: 1px solid #c9423f;
  color: #c9423f;
}
body .main a:hover,
body .main a:focus,
body .main a:visited,
body .main a:active {
  text-decoration: none;
  color: #ba3734;
  border-bottom: 1px solid #ba3734;
}
body footer {
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  width: 100%;
  color: white;
}
body footer div {
  padding-top: 6px;
  font-size: 12px;
  height: 30px;
  background-color: #c9423f;
}
body footer div a {
  color: white;
  border-bottom: 1px solid white;
}
body footer div a:hover {
  text-decoration: none;
  color: white;
}
