@brandColor: #0B91D6;
@brandColor: #c9423f;

body {

    font-family: 'Open Sans', sans-serif;

    background-color: #f9f7ed;

    .header {

        margin: 20px 0px;

        .header-buttons {

            transition: all 100ms ease-in-out;
            color: white;
            background-color: @brandColor;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: darken(@brandColor, 5%);
                
                }
            }

        a {
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        span {

            .header-buttons;

            &.buttons {
                background-color: rgba(0, 0, 0, 0);
                color: @brandColor;

                &:hover {
                    color: white;
                    background-color: @brandColor;
                }

            }
            

            &.img {
                background-image: url('../media/jeffjose.jpg');
                float: left;

                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;

                height: 180px;
                width: 180px;
                border: 1px solid white;

                margin-right: 20px;
                }
            }
        }

    .main {
        font-size: 16px;
        color: #444;
        padding-left: 0px;

            a {
                border-bottom: 1px solid @brandColor;
                color: @brandColor;

                &:hover, &:focus, &:visited, &:active {
                    text-decoration: none;
                    color: darken(@brandColor, 5%);
                    border-bottom: 1px solid darken(@brandColor, 5%);
                }
            }
        }

   footer {
       position: fixed;
       bottom: 0px;
       z-index: 10000;
       width: 100%;

       div {
           height: 200px;
           background-color: @brandColor;
       }
   
   }

}

